<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Ferose Chat</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:type"            content="website" />
    <meta property="og:title"           content="Chat with Ferose" />
    <meta property="og:image"           content="http://www.ferose.me/static/img/ferose.jpg"/>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/aes.js"></script>
    <script src="/static/js/iscroll.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var myScroll;

        function loaded() {
            myScroll = new IScroll("#chatEntries",
                    {
                        mouseWheel: true,
                        click: false,
                        scrollX: false,
                        scrollY: true,
                        scrollbars: true,
                        shrinkScrollbars: 'scale',
                        fadeScrollbars: true
                    }
            );
        }

        document.addEventListener('touchmove', function (e) {
            e.preventDefault();
        }, false);

    </script>
</head>
<body onload="loaded()">
<div id="chatEntries">
    <div id="scroller">
        <div id="prevChat">
        </div>
        <div id="currentChat">
        </div>
    </div>

</div>
<div id="passphraseInputContainer"><input type="text" id="passphraseInput" placeholder="passphrase"></div>
<div id="messageInputContainer"><textarea name="message" id="messageInput" placeholder="message"></textarea></div>
<!--<button id="sendButton">Send</button>-->

<script type="text/javascript">
    $(function () {
        var socket = io.connect();
        var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

        var hasFocus = true;
        $(window).focus(function () {
            hasFocus = true;
            $("title").html("Ferose Chat");
        })
        $(window).blur(function () {
            hasFocus = false;
        });

        var newMessageShown = false;

        function setNewMessage(msg, newMsgString) {
            newMessageShown = true;
            if (hasFocus) {
                $("title").html("Ferose Chat");
                newMessageShown = false;
                return;
            }
            $("title").html(newMsgString ? "Ferose Chat - New Message" : msg);
            setTimeout(function () {
                setNewMessage(msg, !newMsgString);
            }, 1000);
        }

        function scrollToBottom() {
            var prevMaxScroll = myScroll.maxScrollY;
            myScroll.refresh();
            var curMaxScroll = myScroll.maxScrollY;
            if (curMaxScroll-prevMaxScroll != 0) {
                myScroll.scrollBy(0, curMaxScroll-prevMaxScroll, 0);
            }
        }

        function addMessage(msg, isMe, typing) {
            var date = new Date();
            var dateString = date.toLocaleTimeString();
            var chatContent =
                    '<div class="message-' + (typing ? "typing" : (isMe ? "me" : "you")) + '">' +
                    '<div class="message-meta">' + (typing ? "Typing" : (isMe ? "Me" : "You")) + ': <div class="message-time">' + dateString + '</div></div>' +
                    msg +
                    '</div>';

            if (typing) {
                $("#currentChat").html(chatContent);
                scrollToBottom();
            }
            else {
                if (!isMe) {
                    $("#currentChat").html("");

                    if (!hasFocus && !newMessageShown) {
                        setNewMessage(msg);
                    }
                }
                $("#prevChat").append(chatContent);
                scrollToBottom();
                if (isMe) {
                    hideKeyboard();
                }
            }
        }

        var hideKeyboard = function () {
            if (isMobile) {
                document.activeElement.blur();
                $("input").blur();
            }
        };

//        $("#sendButton").click(function() {
//            sendMessage();
//        })

        $(document).keypress(function (e) {
            if (e.which == 13) {
                sendMessage(false);
                return false;
            }
        });

        $("#messageInput").on('change keyup paste', function () {
            sendMessage(true);
        });

        function sendMessage(isTyping) {
            var msg = $("#messageInput").val();
            if (!msg) {
                return;
            }
            var pass = $("#passphraseInput").val();
            var encrypted = CryptoJS.AES.encrypt(msg, pass);
            var encoded = btoa(encrypted);
            socket.emit(isTyping ? 'typing' : 'message', encoded);
            if (!isTyping) {
                addMessage(msg, true, false);
                $("#messageInput").val("");
            }
        }

        socket.on('message', function (encoded) {
            var encrypted = atob(encoded);
            var pass = $("#passphraseInput").val();
            var decrypted = CryptoJS.AES.decrypt(encrypted, pass)
            var decryptedString = decrypted.toString(CryptoJS.enc.Utf8);
            addMessage(decryptedString, false, false);
        })

        socket.on('typing', function (encoded) {
            var encrypted = atob(encoded);
            var pass = $("#passphraseInput").val();
            var decrypted = CryptoJS.AES.decrypt(encrypted, pass)
            var decryptedString = decrypted.toString(CryptoJS.enc.Utf8);
            addMessage(decryptedString, false, true);
        })
    })
</script>

</body>
</html>